# Crash
/Crash/.gradle/
/Crash/.idea/
/Crash/.svn/
/Crash/java_pid5600.hprof   
/Crash/java_pid8156.hprof 
/Crash/*.hprof 
/Crash/*.iml

#app
/Crash/app/build/
/Crash/app/*.iml

#crash
/Crash/crash/build/
/Crash/crash/*.iml

#crashlocal
/Crash/crashlocal/build/
/Crash/crashlocal/*.iml
